.navContainer{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.navLinks {
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #FBFCFC;
    border-radius: 16px;
    gap: 1em;
    & li {
        display: block;
        cursor: default;
        padding: 0.5em 1em;
        border-radius: 16px;
        &:hover {
            background-color: #32D93D;
            color: #1C1C1C;
        }
    }
}

.homeSection {
    margin: 2em 4em;

    & h2 {
        width: 20ch;
        color: #32D93D;
        margin: 0;
        font-size: 5em;
        text-wrap: nowrap;
        overflow: hidden;
        animation: typing 2s steps(20) infinite alternate-reverse;
    }
    & h3 {
        margin: 0;
        font-size: 5em;
    }
    & p {
        width: 50%;
    }
    & button {
        background: none;
        font-family: vcr_osd;
        font-size: 1.5em;
        margin: 1em;
        padding: 1em 2em;
        color: #FBFCFC;
        border: 2px solid #FBFCFC;
        border-radius: 16px;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1);
            border-color: #1C1C1C;
            background-color: #32D93D;
            color: #1C1C1C;
        }   
    }
}

.aboutSection {
    margin: 4em 4em;
    display: flex;
    & div {
        width: 50%;
    }
    & div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & img {
        width: 60%;
        border-radius: 1em;
        &:hover {
            filter:drop-shadow(15px 15px 5px #32D93D);
            transition: filter 0.2s ease;
        }
    }
    & h2 {
        color: #32D93D;
        font-size: 3em;
    }
}

.skillsSection {
    margin: 4em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2 {
        color: #32D93D;
        font-size: 3em;
    }
    & div {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 1em;
    }
    & h4 {
        padding: 1em;
        border: 2px solid #FBFCFC;
        border-radius: 16px;
    }
}

.workSection {
    margin: 4em 4em;
    & h2 {
        color: #32D93D;
        font-size: 3em;
    }
    & .workCards {
        gap: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.contactSection {
    margin: 4em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        color: #32D93D;
        font-size: 3em;
    }
    & p {
        width: 60%;
        text-align: center;
    }
    & button {
        width: fit-content;
        background: none;
        font-family: vcr_osd;
        font-size: 1.5em;
        margin: 1em;
        padding: 1em 2em;
        color: #FBFCFC;
        border: 2px solid #FBFCFC;
        border-radius: 16px;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1);
            border-color: #1C1C1C;
            background-color: #32D93D;
            color: #1C1C1C;
        }   
    }
}


@keyframes typing {
    from {
        width: 0ch;
    }
}